

.title{
	width: auto;
    background-image: linear-gradient(to right, #33ccff , #66ffcc);
	text-align: center;
	color: #fffff;
}

.pctImg {
    width: auto;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pictureImage {
    width: 420px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #333;
}

body.detailPage {
    background-color: white;
}

.divImage {
    width: 100%;
    height: auto;
    padding: 5px;
}

.divDetail {
    width: 30%;
    height: 200px;
    padding: 3px;
}


h2.centering {
    text-align: center;
    font-size: 500%;
}

p.centerDescription {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #333;
}

.box {
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    font-size: 40%;
    margin: 3px;
    border: 3px;
}

.picStar {
	width: 120px;
    height: auto;
    display: block;
    padding: 10px 100px 10px 10px;

}

.picStarDetail {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    float:right;
}

h2.detailCenter {
    text-align: center;
}

.buttons {
    align-content: center;
	background-color: #585F69; 
    border: none;
    color: white;
    padding: 15px 32px;
	 margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonsHidden {
    display: none;
}



.title {
    text-align: center;
    background: gray;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #900C3F;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #E5920B;
    color: white;
}

.effectDiv{
	
	    background-color: #006bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
	
}

.progress{
height:50px;
text-align:center;
}

.progress-bar {
  padding:15px;
}

.massive-font{
font-size: 40px;
text-align: center;
color:black;
}

.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 10s;
}

.custom-control-label {
	  
text-align: center;
color: #fff;
}
.carousel-inner img {
      width: 100%;
      height: 30%;
